In [5]:
import numpy as np
import pandas as pd

df = pd.read_csv('students_placement.csv')

In [6]:
df.shape

(300, 4)

In [7]:
df.sample(10)

     cgpa   iq  profile_score  placed
112  6.75  111             27       0
8    6.64  111             56       0
251  7.62   97             43       1
89   5.83  110             68       0
178  5.77  105             47       0
217  7.21  104             76       1
12   6.83  103             29       1
20   5.78  112             46       0
183  6.69  104             74       1
16   6.60  111             51       0

In [8]:
X = df.drop(columns=['placed'])
y = df['placed']

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [10]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf = RandomForestClassifier()

rf.fit(X_train,y_train)

y_pred = rf.predict(X_test)

accuracy_score(y_test,y_pred)

0.8833333333333333

In [11]:
import pickle
pickle.dump(rf, open('model.pkl','wb'))